/* Master Page */
body {
    font-family: 'Roboto', sans-serif;
}

.timezone {
    font-family: 'Josefin Sans', sans-serif;
    color: #FF2020;
    text-decoration: none;
}

    .timezone:hover {
        color: #FF2020;
    }

.navbar {
    font-family: 'Josefin Sans', sans-serif;
    box-shadow: 0 4px 8px rgba(25, 25, 25, 0.1);
}

.navbar, .footer {
    background-color: white;
}

.footer {
    border-top: 1px solid #000000;
}


/* Standardized Button */
.button {
    border-radius: 5px;
    background-color: #FF2020;
    border: none;
    color: white;
    text-align: center;
    font-size: 16px;
    padding: 14px 40px;
    transition: all 0.3s;
}

    .button:hover {
        box-shadow: 0 4px 8px 0 rgba(0,0,0,0.24);
    }

/* Home Page */
.home-banner {
    width: 100%;
    height: 100vh;
    background-image: linear-gradient(rgba(0,0,0,0.6),rgba(0,0,0,0.6)),url('../img/wallpaper/home-bg.jpg');
    background-size: cover;
    background-position: center;
}

.home-banner-content {
    width: 100%;
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    text-align: center;
    color: white;
}

    .home-banner-content h1 {
        margin-top: 80px;
        font-size: 60px;
    }

    .home-banner-content p {
        margin: 24px auto;
        font-weight: 100;
        line-height: 25px;
    }

    .home-banner-content .shop-now-btn {
        width: 200px;
        padding: 15px 0;
        text-align: center;
        margin: 20px 10px;
        border-radius: 25px;
        font-weight: bold;
        border: 2px solid #FF2020;
        background: transparent;
        color: white;
        text-decoration: none;
        cursor: pointer;
        transition: all 0.5s;
    }

        .home-banner-content .shop-now-btn:hover {
            background-color: #FF2020;
            color: white;
        }

/* Shop Page */
.shop-banner img {
    width: 100%;
}

.shop-info {
    width: 100%;
    color: black;
    text-align: center;
    margin: 50px auto;
}

    .shop-info .timezone, .shop-info .emphasize {
        font-size: 30px;
        font-weight: bold;
    }

    .shop-info .rolex-intro {
        line-height: 30px;
    }

.collections {
    margin-bottom: 50px;
}

    .collections .txt {
        color: white;
        text-align: center;
        margin: 50px auto;
        padding: 40px;
        font-family: 'Josefin Sans', sans-serif;
        font-size: 30px;
        font-weight: bold;
        background-image: linear-gradient(rgba(0,0,0,0.6),rgba(0,0,0,0.6)),url('../img/wallpaper/collection-banner.jpg');
        background-size: cover;
        background-position: center;
    }

    .collections .first-row {
        margin-bottom: 15px;
    }

    .collections .img {
        width: 650px;
        height: 200px;
        object-fit: cover;
        transform: scale(1);
        transition: all 0.4s ease-out 0s;
    }

        .collections .img:hover {
            transform: scale(1.03);
        }

/* Collection Page */
.collection-banner img {
    width: 100%;
}

.collection-info {
    width: 100%;
    color: black;
    text-align: center;
    margin: 60px auto;
}

    .collection-info .emphasize {
        font-size: 40px;
        font-weight: bold;
    }

    .collection-info .collection-intro {
        line-height: 30px;
    }

.watch-section {
    margin-bottom: 100px;
}

    .watch-section .row .col {
        text-align: center;
    }

    .watch-section .img {
        width: 250px;
        height: 350px;
        object-fit: cover;
        transform: scale(1);
        transition: all 0.4s ease-out 0s;
    }

        .watch-section .img:hover {
            transform: scale(1.03);
        }

    .watch-section .txt-collection {
        font-weight: bold;
        font-size: 16px;
    }

    .watch-section .txt-model-case {
        font-size: 12px;
    }

/* Top Banner FOR ALL */
.top-banner {
    width: 100%
}

    .top-banner .txt {
        color: white;
        text-align: center;
        padding: 85px;
        font-family: 'Josefin Sans', sans-serif;
        font-size: 30px;
        font-weight: bold;
        background-size: cover;
        background-position: center;
    }

/* Watch page */
.watch-banner .txt {
    background-image: linear-gradient(rgba(0,0,0,0.8),rgba(0,0,0,0.8)),url('../img/product/submariner/submariner-banner.jpg');
}

.uppercase-text {
    text-transform: uppercase;
}

.product-section {
    margin: 100px auto 60px auto;
}

.product-details-area {
    padding-left: 10px;
}

    .product-details-area .top-area {
        padding-bottom: 20px;
        border-bottom: 1px solid lightgrey;
    }

    .product-details-area .product-name, .product-price {
        font-size: 20px;
        font-weight: bold;
    }

.rating-star .gold {
    color: gold;
}

.product-review {
    margin-bottom: 100px;
}

    .product-review .rating-section {
        padding: 30px 0;
        border-top: 1px solid lightgrey;
    }

        .product-review .rating-section .rating-text {
            font-size: 30px;
            font-weight: bold;
        }

        .product-review .rating-section .rating-star {
            padding-left: 15px;
            font-size: 20px;
        }

    .product-review .comment-section .person-comment {
        padding: 30px 0;
        border-top: 1px solid lightgrey;
        line-height: 30px;
    }

        .product-review .comment-section .person-comment .fa-circle-user {
            font-size: 60px;
        }

        .product-review .comment-section .person-comment .comment-date {
            font-size: 0.8em;
        }

    .product-review .comment-section .seller-response {
        font-size: 0.9em;
        line-height: 24px;
    }

.box {
    width: max-content;
    height: auto;
    background-color: darkgrey;
    color: white;
    padding: 10px 25px;
    position: relative;
    border-radius: 5px;
}

    .box.arrow-top:after {
        content: " ";
        position: absolute;
        left: 30px;
        top: -10px;
        border-top: none;
        border-right: 15px solid transparent;
        border-left: 15px solid transparent;
        border-bottom: 15px solid darkgrey;
    }

/* Purchased Order Page (Pending) */
.order-banner .txt {
    background-image: linear-gradient(rgba(0,0,0,0.5),rgba(0,0,0,0.5)),url('../img/wallpaper/red-neon-banner.jpg');
}

.wrap-content {
    margin: 100px auto;
    font-family: 'Josefin Sans', sans-serif;
}

    .wrap-content table tr, .wrap-content td {
        padding: 10px;
    }

    .wrap-content .nav-list {
        margin-top: 20px;
        padding-left: 10px;
    }

        .wrap-content .nav-list a {
            text-decoration: none;
            font-size: 16px;
            color: black;
            transition: all 0.2s ease;
            margin-top: 20px;
            padding-left: 10px;
        }

        .wrap-content .nav-list i {
            font-size: 1.3em;
        }

        .wrap-content .nav-list .active {
            color: #FF2020;
            font-weight: bold;
        }

        .wrap-content .nav-list a:hover {
            color: #FF2020;
            font-size: 1.1em;
            font-weight: bold;
        }

.order-info-section {
    color: black;
}

    .order-info-section .title {
        text-align: center;
        font-size: 30px;
        padding: 50px;
        border-bottom: 2px solid lightgrey;
    }

    .order-info-section .order-info {
        padding: 30px;
    }

        .order-info-section .order-info .est-arrival {
            float: right;
        }

    .order-info-section .purchased-product-area table tr, td {
        padding: 30px 20px 10px 0;
    }

    .order-info-section .purchased-product-area .img {
        box-shadow: 0 0 2px grey;
        transform: scale(1);
        transition: all 0.4s ease-out 0s;
    }

        .order-info-section .purchased-product-area .img:hover {
            transform: scale(1.03);
        }

    .order-info-section .package-status-info {
        float: right;
        margin-top: -105px;
        text-align: right;
    }

        .order-info-section .package-status-info .button {
            color: white;
            background-color: black;
            margin-top: 10px;
            font-size: 0.9em;
        }

    /* Purchased Order Page (Completed) */
    .order-info-section .purchased-product-area .rate-button {
        width: max-content;
        float: right;
        margin-top: -120px;
        padding: 14px 80px;
    }

    .order-info-section .purchased-product-area .rate-button-disabled {
        border-radius: 5px;
        background-color: lightgrey;
        border: none;
        color: white;
        text-align: center;
        font-size: 16px;
        transition: all 0.3s;
    }

/* Rate Product Page */
.rate-banner .txt {
    background-image: linear-gradient(rgba(0,0,0,0.7),rgba(0,0,0,0.7)),url('../img/wallpaper/red-banner.jpg');
}

.user-rating-section {
    font-family: 'Josefin Sans', sans-serif;
    margin: 100px auto;
}

    .user-rating-section .image-area {
        text-align: center;
    }

        .user-rating-section .image-area .img {
            width: auto;
            height: 400px;
        }

    .user-rating-section .rating-area {
        vertical-align: middle;
    }

    .user-rating-section .rate-purchase-txt {
        font-size: 20px;
        text-align: center;
        color: #FF2020;
    }

.rating-stars-group td {
    padding: 20px 10px 0 0;
}

.rating-stars-group label {
    cursor: pointer;
    transition: all 0.2s ease;
}

.rating-stars-group input[type="radio"] {
    display: none;
}

    .rating-stars-group input[type="radio"]:not(:checked) ~ label:hover,
    .rating-stars-group input[type="radio"]:not(:checked) ~ label:hover ~ label {
        color: gold;
    }

    .rating-stars-group input[type="radio"]:checked ~ label {
        color: gold;
    }

/*Cart Page*/
.cart-banner {
    background-image: linear-gradient(rgba(0,0,0,0.5),rgba(0,0,0,0.5)),url('../img/wallpaper/red-banner.jpg');
}

.cart-page {
    margin-top: 80px;
    margin-bottom: 100px;
}

    .cart-page table {
        width: 100%;
    }

    .cart-page p {
        margin-bottom: 0; /*the p tag in the table margin*/
    }

.cart-itemInfo {
    display: flex; /*set the item info display flex like one line*/
    flex-wrap: wrap; /*if the flex need to be wrap then it will auto wrap if the table info is bigger than the table width*/
}

.cart-page th {
    text-align: left;
    padding: 5px;
    color: #FFF; /*white*/
    background: #FF2020; /*red*/
}

.cart-page td {
    padding: 10px 5px;
}

    /*input the qty*/
    .cart-page td qty {
        width: 50px;
        height: 30px;
        padding: 5px;
    }


    .cart-page td .btn-remove {
        color: #FF2020;
        font-size: 12px;
        text-align: left;
        padding: 0px;
        border: none;
        background-color: white;
        text-decoration: underline;
    }

.cart-page img {
    height: 100px;
    width: 150px;
    margin-right: 10px;
}

.total-price {
    display: flex;
    justify-content: flex-end; /*let the content at the table ending*/
}

    .total-price table {
        border-top: 3px solid #ff523b; /*set the table of the price have border which is solid and red color*/
        width: 100%;
        max-width: 450px;
    }

/*set the last td which is the last column to the right side*/
.cart-page table td:last-child {
    text-align: right;
}
/*set the last th which is the last column to the right side*/
.cart-page table th:last-child {
    text-align: right;
}

.cart-page .btn-container {
    display: flex;
    justify-content: flex-end;
}

.cart-page .cart-submit, .cart-shopping {
    color: white;
    border: none;
    background-color: #FF2020;
    font-size: 16px;
    padding: 15px 32px;
    display: inline-block;
    text-align: center;
    margin: 4px 2px;
    margin-left: 40px;
}

.cart-shopping {
    text-decoration: none;
}

.cart-page .cart-shopping:hover {
    color: white;
    cursor: pointer;
}

.cart-page .cart-submit:hover {
    color: white;
    cursor: pointer;
}

/*checkout*/
.checkout .button {
    width: 100%;
}

.paymentMethod td {
    padding-top: 0;
}

.checkout {
    background: rgb(122, 110, 110, 0.10);
    margin-top: 80px;
    margin-bottom: 100px;
    padding-top: 100px;
    padding-bottom: 100px;
}

    .checkout .row {
        padding-left: 50px;
        padding-right: 50px;
    }

    .checkout .row-payment {
        padding-left: 50px;
        padding-right: 50px;
    }

    .checkout hr {
        --bs-gutter-x: 0rem;
        margin: 1rem 0;
        color: inherit;
        background-color: currentColor;
        border: 0;
        opacity: .25;
    }

/*checkout invoice*/
.checkout-invoice { /*create background color*/
    background: rgb(122, 110, 110, 0.10);
    margin-top: 80px;
    margin-bottom: 100px;
    padding-top: 100px;
    padding-bottom: 100px;
    padding-left: 100px !important;
    padding-right: 100px !important;
}

.invoice-panel { /*for the table to create the background white color*/
    margin-bottom: 20px;
    background-color: #fff;
    border: 1px solid transparent;
    border-radius: 4px;
    border-color: #ddd;
}

.invoice-body {
    padding: 15px;
}

.invoice-heading { /*set the heading font side and the background color of border*/
    font-size: 2rem;
    padding: 10px 15px;
    border-bottom: 1px solid transparent;
    background-color: #f5f5f5;
    border-color: #ddd;
}

.invoice-title h2, .invoice-title h3 {
    display: inline-block;
}

.no-line {
    border-top: none;
    border-bottom: none;
}


.thick-line {
    border-top: 2px solid;
    border-bottom: none;
}


/*login page*/
.login-banner {
    background-image: linear-gradient(rgba(0,0,0,0.8),rgba(0,0,0,0.8)),url('../img/wallpaper/red-square-banner.jpg');
}

.login-part .justify-content-center {
    justify-content: center;
}

.login-part .section-padding {
    padding-top: 120px;
    padding-bottom: 120px;
}

.login_part .login_part_text,
.login_part .login_part_form {
    padding: 80px 70px;
    height: 600px;
    display: table;
}

@media (max-width: 991px) {
    .login_part .login_part_text,
    .login_part .login_part_form {
        padding: 30px;
        height: 400px;
    }
}

@media only screen and (min-width: 992px) and (max-width: 1200px) {
    .login_part .login_part_text,
    .login_part .login_part_form {
        padding: 20px;
        height: 400px;
    }
}

.login_part .login_part_text {
    background-image: linear-gradient( 90deg, #c02626 0%, #a01e1e 64%, #ce2323 100% );
    background-size: 200% auto;
}

    .login_part .login_part_text h2 {
        font-size: 24px;
        font-weight: 700;
        line-height: 35px;
        color: #fff;
        margin-bottom: 17px;
    }

    .login_part .login_part_text p {
        color: #fff;
        line-height: 25px;
    }

    .login_part .login_part_text .btn_3 {
        border: 1px solid #fff;
        background-color: transparent;
        border-radius: 5px;
        font-size: 14px;
        margin-top: 28px;
        padding: 20px 40px;
        color: #fff !important;
        text-decoration: none;
    }

        .login_part .login_part_text .btn_3:hover {
            background-color: white;
            color: #ff2020 !important;
        }

@media (max-width: 991px) {
    .login_part .login_part_form {
        padding: 0;
    }
}

.login_part .login_part_form h3 {
    font-size: 26px;
    line-height: 36px;
    font-weight: 700;
    margin-bottom: 80px;
}

@media (max-width: 991px) {
    .login_part .login_part_form h3 {
        margin-bottom: 20px;
    }
}

@media only screen and (min-width: 992px) and (max-width: 1200px) {
    .login_part .login_part_form h3 {
        margin-bottom: 20px;
    }
}

.login_part .login_part_form .form-control {
    border: 0px solid transparent;
    border-bottom: 1px solid #ddd;
    border-radius: 0;
}

    .login_part .login_part_form .form-control ::placeholder {
        color: #c3c3c3;
    }

.login_part .creat_account {
    margin-top: 11px;
}

    .login_part .creat_account label {
        color: #777;
        font-size: 14px;
        margin-bottom: 0;
        margin-left: 10px;
    }

.login_part .form-group .btn_3 {
    display: block;
    width: 100%;
    margin: 30px 0 17px;
}

.login_part .lost_pass #ContentPlaceHolder1_logInLink {
    color: rgba(0,0,0,0.8);
    text-align: right;
    float: right;
    text-transform: capitalize;
}


/*register page*/
.register-part {
    margin-top: 80px;
    margin-bottom: 100px;
}

    .register-part .city-list {
        padding: 8px 10px 9px 35px;
        width: 100%;
    }


    .register-part .state-list {
        padding: 8px 10px 9px 35px;
    }

    .register-part .remove-style {
        all: initial;
    }

    .register-part .order-info-section .purchased-product-area table tr, td {
        padding: 0px;
    }

    .register-part .form_wrapper {
        background: #fff;
        width: 500px !important;
        max-width: 100%;
        box-sizing: border-box;
        padding: 50px;
        padding-bottom: 25px !important;
        margin: 0% auto 0;
        position: relative;
        z-index: 1;
        border-top: 5px solid #db2b2b;
        border-bottom: 5px solid #db2b2b;
        -webkit-box-shadow: 0 0 3px rgba(0, 0, 0, 0.1);
        -moz-box-shadow: 0 0 3px rgba(0, 0, 0, 0.1);
        box-shadow: 0 0 3px rgba(0, 0, 0, 0.1);
        -webkit-transform-origin: 50% 0%;
        transform-origin: 50% 0%;
        -webkit-transform: scale3d(1, 1, 1);
        transform: scale3d(1, 1, 1);
        -webkit-transition: none;
        transition: none;
        -webkit-animation: expand 0.8s 0.6s ease-out forwards;
        animation: expand 0.8s 0.6s ease-out forwards;
    }

        .register-part .form_wrapper h2 {
            font-size: 1.5em;
            line-height: 1.5em;
            margin: 0;
        }

        .register-part .form_wrapper .title_container {
            text-align: center;
            padding-bottom: 15px;
        }

        .register-part .form_wrapper h3 {
            font-size: 1.1em;
            font-weight: normal;
            line-height: 1.5em;
            margin: 0;
        }

        .register-part .form_wrapper label {
            font-size: 15px;
        }

        .register-part .form_wrapper .row {
            margin: 10px -15px;
        }

.form_wrapper .row > div {
    padding: 0 15px;
    box-sizing: border-box;
}

.register-part .form_wrapper .col_half {
    width: 50%;
    float: left;
}

.register-part .form_wrapper .input_field {
    position: relative;
    margin-bottom: 20px;
    -webkit-animation: bounce 0.6s ease-out;
    animation: bounce 0.6s ease-out;
}

    .register-part .form_wrapper .input_field > span {
        position: absolute;
        left: 0;
        top: 0;
        color: #333;
        height: 100%;
        border-right: 1px solid #ccc;
        text-align: center;
        width: 30px;
    }

        .register-part .form_wrapper .input_field > span > i {
            padding-top: 10px;
        }

.register-part .form_wrapper .textarea_field > span > i {
    padding-top: 10px;
}

.register-part .form_wrapper input[type="text"], .form_wrapper input[type="email"], .form_wrapper input[type="password"] {
    width: 100%;
    padding: 8px 10px 9px 35px;
    height: 35px;
    border: 1px solid #ccc;
    box-sizing: border-box;
    outline: none;
    -webkit-transition: all 0.3s ease-in-out;
    -moz-transition: all 0.3s ease-in-out;
    -ms-transition: all 0.3s ease-in-out;
    transition: all 0.3s ease-in-out;
}

    .register-part .form_wrapper input[type="text"]:hover, .form_wrapper input[type="email"]:hover, .form_wrapper input[type="password"]:hover {
        background: #fafafa;
    }

    .register-part .form_wrapper input[type="text"]:focus, .form_wrapper input[type="email"]:focus, .form_wrapper input[type="password"]:focus {
        -webkit-box-shadow: 0 0 2px 1px rgba(255, 169, 0, 0.5);
        -moz-box-shadow: 0 0 2px 1px rgba(255, 169, 0, 0.5);
        box-shadow: 0 0 2px 1px rgba(255, 169, 0, 0.5);
        border: 1px solid #f5ba1a;
        background: #fafafa;
    }

.register-part .form_wrapper input[type="submit"] {
    height: 35px;
    line-height: 35px;
    width: 100%;
    border: none;
    outline: none;
    padding: 0px !important;
    cursor: pointer;
    color: #fff;
    font-size: 1.1em;
    margin-bottom: 10px;
    -webkit-transition: all 0.3s ease-in-out !important;
    -moz-transition: all 0.3s ease-in-out !important;
    -ms-transition: all 0.3s ease-in-out !important;
    transition: all 0.3s ease-in-out;
}

#ContentPlaceHolder1_rblGender td {
    width: 100px;
}

#ContentPlaceHolder1_rblGender tr {
    display: inline-block;
}

#ContentPlaceHolder1_rblGender input[type="radio"] {
    margin: 0em 5px !important;
    margin-right: 20px;
}

.register-part .form_wrapper input[type="checkbox"], .form_wrapper input[type="radio"] {
    border: 0;
    clip: rect(0 0 0 0);
    margin: 0em 1em;
}

.register-part .input-icon {
    position: relative;
    top: 100%;
    left: 5px;
    transform: translate(30%, -150%);
    font-size: 18px;
}

/* profile */

.profile .profile-btnEdit {
    text-decoration: none;
}

.profile-btnEdit:hover {
    color: white;
}

.edit-row input {
    margin-bottom: 20px;
    width: 220px;
}

.edit-row label {
    margin-bottom: 20px;
}

.edit-row td {
    padding-left: 20px;
}

.edit-row .text-mute {
    font-size: 16px;
    color: #999;
}

.back-edit-password {
    text-decoration: none;
    color: rgba(0,0,0,0.8);
}

    .back-edit-password:hover {
        color: rgba(0,0,0,0.8);
    }

.profile-part .fa-user-circle:before {
    content: "\f2bd";
}

.profile-input {
    border: none;
    outline: none;
    background-color: transparent;
    width: 100%;
}


/* forgot password */
.forgot-pswd .modal-content {
    position: relative;
    display: -ms-flexbox;
    display: flex;
    -ms-flex-direction: column;
    flex-direction: column;
    width: 100%;
    pointer-events: auto;
    background-color: #fff;
    background-clip: padding-box;
    border: 1px solid rgba(0, 0, 0, 0.2);
    border-radius: 0.3rem;
    outline: 0;
}


.forgot-pswd .modal-bg-1 {
    display: flex;
    background-color: rgba(0,0,0,0.1);
}

.forgot-pswd .modal-content {
    width: 40%;
    height: 50%;
    justify-content: center;
    align-items: center;
    border: 1px solid black;
}

.forgot-pswd .back-to-home {
    color: black;
    position: absolute;
    top: 0;
    left: 0;
    padding: 20px;
    transition: all 0.5s ease;
    text-decoration: none;
}

    .forgot-pswd .back-to-home:hover {
        color: grey;
        font-size: 1.03em;
    }

.forgot-pswd .company-name {
    color: red;
    position: absolute;
    top: 0;
    right: 0;
    padding: 20px;
    transition: all 0.5s ease;
}

    .forgot-pswd .company-name:hover {
        font-size: 1.03em;
    }

.forgot-pswd .input {
    text-align: center;
    outline: none;
    font-size: .9em;
    color: black;
    padding: 1em 0em;
    margin: 0;
    width: 100%;
    border: none;
    border-bottom: solid 1px black;
    -webkit-appearance: none;
    display: block;
    background: none;
}


.forgot-pswd .error {
    color: red;
    font-size: smaller;
    text-align: center;
    margin-top: 10px;
}

.forgot-pswd .button:hover {
    cursor: pointer;
}

.forgot-pswd .button {
    width: 100%;
    border-radius: 2px;
    background-color: #FF2020;
    border: none;
    color: white;
    text-align: center;
    font-size: 16px;
    padding: 14px 40px;
    transition: all 0.5s;
}

.forgot.forgot-pswd .button:hover {
    box-shadow: 0 4px 8px 0 rgba(0,0,0,0.24);
}

forgot-pswd .btn-icon:before {
    font-family: "Font Awesome 5 Free";
    font-weight: 900;
    content: "\f060";
    margin-right: 5px;
    background-image: url('assets/img/favicon.ico');
    /*background-repeat: no-repeat;
  background-position: left center;
  padding-left: 20px;*/ /* Adjust the padding as needed */
}

/* edit profile */
.edit-banner {
    background-image: linear-gradient(rgba(0,0,0,0.8),rgba(0,0,0,0.8)),url('../img/wallpaper/red-black-banner.jpg');
}

.edit-profile-part .button:hover {
    box-shadow: 0 4px 8px 0 rgba(0,0,0,0.24);
}

.edit-profile-part .btn-icon:before {
    font-family: "Font Awesome 5 Free";
    font-weight: 900;
    content: "\f060";
    margin-right: 5px;
    background-image: url('assets/img/favicon.ico');
}

.edit-profile-part .back-to-home {
    color: black;
    padding: 20px;
    transition: all 0.5s ease;
}

    .edit-profile-part .back-to-home:hover {
        color: grey;
        font-size: 1.03em;
    }

.edit-profile-part {
    font-size: 17px;
    font-family: "Josefin Sans", sans-serif;
}

    .edit-profile-part a {
        font-size: 17px;
        font-family: "Josefin Sans", sans-serif;
    }

    .edit-profile-part .justify-content-right {
        justify-content: right;
    }

    .edit-profile-part .float-right {
        float: right !important;
    }

/* change password */
.back-to-edit {
    text-decoration: none;
    color: rgba(0,0,0,0.8);
}

    .back-to-edit:hover {
        text-decoration: none;
        color: rgba(0,0,0,0.8);
    }

.change-pswd-part {
    font-size: 17px;
    font-family: "Josefin Sans", sans-serif;
}

    .change-pswd-part .modal-content {
        padding: 2em 5em;
    }

    .change-pswd-part .modal-bg-2 {
        display: flex;
        justify-content: center;
    }

    .change-pswd-part .float-right {
        float: right !important;
    }
